<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408655926782-njd20dfohr4g5kj0smrqbfnm017gr34l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408655926782-njd20dfohr4g5kj0smrqbfnm017gr34l</string>
	<key>API_KEY</key>
	<string>AIzaSyDQzWflLrWuUQRdEIOcvKkmr4-rMzrFeuE</string>
	<key>GCM_SENDER_ID</key>
	<string>408655926782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotApp</string>
	<key>PROJECT_ID</key>
	<string>spot-workout-logger</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-workout-logger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408655926782:ios:be7f02a71dc5ef36a1dcaf</string>
</dict>
</plist>